<div class="bg">
    <div class="container py-5">
        <div class="row-12 mt-5">
            <div class="col-6 offset-3">
                <!-- <mat-card> -->
                <div class="card ">
                    <h2 class="card-header text-center">Login</h2>
                    <div class="card-body">
                        <form class="example-form" [formGroup]="loginForm">
                            <div class="row ">
                                <div class="col-sm-12 mb-3 ">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                                    <small *ngIf="email && email.invalid && email.touched" class="form-text text-danger">Please Enter Email ID.</small>
                                </div>
                                <div class="col-sm-12 mb-3 ">
                                    <input type="text" class="form-control" formControlName="password" placeholder="Password">
                                    <small *ngIf="password && password.invalid && password.touched" class="form-text text-danger">Please Enter Password.</small>
                                </div>
                            </div>
                            <a class="text-decoration-none" routerLink="/register">If you Don't have and account ? Then Register</a>
                            <div class="example-button-row">
                                <br>
                                <button [disabled]="loginForm.invalid" type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>
                                <!-- <br>
                                <h3>The User is Logged {{ifLogin}}.</h3> -->
                            </div>
                        </form>
                    </div>
                </div>
                <h1 class="mt-5"></h1>

                <!-- <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Email ID</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field> -->
                <!-- <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="*******">
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                            Please enter a valid Password
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field> -->


                <!-- </mat-card> -->
            </div>
        </div>
    </div>
</div>