.btn {
    margin-top: -45px !important;
    position: relative;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~.remove-check {
    display: none;
}

input[type=checkbox]:checked~#table {
    display: block;
}

#table {
    display: none;
    width: 100%;
}

th,
td {
    border: 1px solid black;
}