<div class="container">
    <h2 class="text-white">Registration Fileters</h2>
    <div class="form-group text-white">
        <label class="text-white" for="usr">Search:</label>
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="search">
    </div><br>
    <br>
    <label for="reveal-table" class="btn btn-danger"> Hide/Show</label>
    <input type="checkbox" id="reveal-table" role="button">

    <table id="table" class="table bg-white w-100">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Username</th>
                <th>Phone NO.</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let reg of RegisterModel | searchfilter:searchValue ">
                <td>{{reg.fname}}</td>
                <td>{{reg.lname}}</td>
                <td>{{reg.email}}</td>
                <td>{{reg.password}}</td>
                <td>{{reg.username}}</td>
                <td>{{reg.phone}}</td>
                <td>{{reg.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>