.home {
    background-image: url("../../assets/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.center {
    text-align: center;
    padding-top: 8%;
    font-size: 4rem;
}

h1 {
    padding-top: 10%;
    text-align: center;
    font-size: 4rem;
}

h3 {
    padding-top: 8%;
    text-align: center;
    font-size: 4rem;
}

.btn {
    margin-top: -45px !important;
    position: relative;
}