<div class="home">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="adminRole">
                <a class="nav-link" routerLink="/home/category" routerLinkActive="active">Category</a>
                <!-- (click)="buttonclick()" -->
            </li>
            <li class="nav-item" *ngIf="superviseRole">
                <a class="nav-link" routerLink="/home/product" routerLinkActive="active">Product</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/filter" routerLinkActive="active">Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/foreach" routerLinkActive="active">Foreach Array</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/parent" routerLinkActive="active">Parent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/datatable" routerLinkActive="active">DataTable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/life-cycle" routerLinkActive="active">Life Cycle</a>
            </li>
        </ul>

    </nav>
    <button type="button" class="btn btn-danger float-right m-1" (click)="onSubmit()">LogOut</button>
    <!-- <h1><span class="bg-white">First Name: {{fname}} & Last Name: {{lname}}</span></h1>
    <h2 class="center" [appChangeColor]="color">Home Page </h2>
    <div class="text-center bg-white mt-4">
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='cyan'">Cyan
    </div>
    <h5 class="center">{{ (max20.length>20)? (max20 | slice:0:20)+'..':(max20) }}</h5> -->
    <router-outlet></router-outlet>
</div>