<div class="bg">
    <div class="container py-5">
        <div class="row-12 ">
            <div class="col-6 offset-3">
                <h1 class="text-white font-weight-bold l_space">Registration</h1>
                <form class="example-form" [formGroup]="formGroup">
                    <div class="row-6 card">
                        <div class="col my-3">
                            <input type="text" class="form-control" formControlName="fname" placeholder="First Name">
                            <small *ngIf="fname && fname.invalid && fname.touched" class="form-text text-danger">Please Enter First Name.</small>
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" formControlName="lname" placeholder="Last Name">
                            <small *ngIf="lname && lname.invalid && lname.touched" class="form-text text-danger">Please Enter Last Name.</small>
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" formControlName="email" placeholder="Email">
                            <small *ngIf="email && email.invalid && email.touched" class="form-text text-danger">Please Enter Email ID.</small>
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" formControlName="password" placeholder="Password">
                            <small *ngIf="password && password.invalid && password.touched" class="form-text text-danger">Please Enter Password.</small>
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" formControlName="username" placeholder="Username">
                            <small *ngIf="username && username.invalid && username.touched" class="form-text text-danger">Please Enter Username.</small>
                        </div>
                        <div class="col mb-3">
                            <input type="number" min="0" class="form-control" formControlName="phone" placeholder="Phone No.">
                            <small *ngIf="phone && phone.invalid && phone.touched" class="form-text text-danger">Please Enter Phone No.</small>
                        </div>
                        <div class="col ">
                            <div class="form-group">
                                <label for="sel1">Select list:</label>
                                <select class="form-control" id="sel1" formControlName="gender" placeholder="Select Gender">
                                  <option value="" selected disabled>Select Gender</option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                            </div>
                            <small *ngIf=" gender && gender.invalid && gender.touched" class="form-text text-danger">Please select Gender.</small>
                        </div>
                        <div class="col ">
                            <div class="form-group">
                                <label for="Role">Select Role:</label>
                                <select class="form-control" id="Role" formControlName="role" placeholder="Select Role">
                                  <option value="" selected disabled>Select Role</option>
                                  <option value="user">User</option>
                                  <option value="admin">Admin</option>
                                  <option value="supervisor">Supervisor</option>
                                </select>
                            </div>
                            <small *ngIf=" role && role.invalid && role.touched" class="form-text text-danger">Please select Role.</small>
                        </div>
                        <div class="col mb-3">
                            <a class="text-decoration-none mb-2" routerLink="/login">If you have and account ? Then Login</a>
                        </div>
                        <div class="col mb-3">
                            <button [disabled]="formGroup.invalid" type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
                        </div>
                    </div>
                </form>
                <!-- <form class="example-form">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Email ID</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="*******">
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                            Please enter a valid Password
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <a class="text-decoration-none" routerLink="/login">If you have and account ? Then Login</a>
                    <div class="example-button-row">
                        <br>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </form> -->
                <!-- </mat-card> -->
            </div>
        </div>
    </div>
</div>